In [27]:
import pandas as pd
import numpy as np

In [28]:
train_df = pd.read_csv('./car/train.csv')
test_df = pd.read_csv('./car/test.csv')

print "Train Shape:",train_df.shape
print "Test Shape:", test_df.shape

Train Shape: (4209, 378)
Test Shape: (4209, 377)

In [29]:
train_df.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>y</th>
      <th>X10</th>
      <th>X11</th>
      <th>X12</th>
      <th>X13</th>
      <th>X14</th>
      <th>X15</th>
      <th>X16</th>
      <th>X17</th>
      <th>...</th>
      <th>X375</th>
      <th>X376</th>
      <th>X377</th>
      <th>X378</th>
      <th>X379</th>
      <th>X380</th>
      <th>X382</th>
      <th>X383</th>
      <th>X384</th>
      <th>X385</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.0</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>...</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
      <td>4209.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>4205.960798</td>
      <td>100.669318</td>
      <td>0.013305</td>
      <td>0.0</td>
      <td>0.075077</td>
      <td>0.057971</td>
      <td>0.428130</td>
      <td>0.000475</td>
      <td>0.002613</td>
      <td>0.007603</td>
      <td>...</td>
      <td>0.318841</td>
      <td>0.057258</td>
      <td>0.314802</td>
      <td>0.020670</td>
      <td>0.009503</td>
      <td>0.008078</td>
      <td>0.007603</td>
      <td>0.001663</td>
      <td>0.000475</td>
      <td>0.001426</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2437.608688</td>
      <td>12.679381</td>
      <td>0.114590</td>
      <td>0.0</td>
      <td>0.263547</td>
      <td>0.233716</td>
      <td>0.494867</td>
      <td>0.021796</td>
      <td>0.051061</td>
      <td>0.086872</td>
      <td>...</td>
      <td>0.466082</td>
      <td>0.232363</td>
      <td>0.464492</td>
      <td>0.142294</td>
      <td>0.097033</td>
      <td>0.089524</td>
      <td>0.086872</td>
      <td>0.040752</td>
      <td>0.021796</td>
      <td>0.037734</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>72.110000</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>2095.000000</td>
      <td>90.820000</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>4220.000000</td>
      <td>99.150000</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>6314.000000</td>
      <td>109.010000</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>8417.000000</td>
      <td>265.320000</td>
      <td>1.000000</td>
      <td>0.0</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>...</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
<p>8 rows Ã— 370 columns</p>
</div>

In [30]:
train_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>y</th>
      <th>X0</th>
      <th>X1</th>
      <th>X2</th>
      <th>X3</th>
      <th>X4</th>
      <th>X5</th>
      <th>X6</th>
      <th>X8</th>
      <th>...</th>
      <th>X375</th>
      <th>X376</th>
      <th>X377</th>
      <th>X378</th>
      <th>X379</th>
      <th>X380</th>
      <th>X382</th>
      <th>X383</th>
      <th>X384</th>
      <th>X385</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>130.81</td>
      <td>k</td>
      <td>v</td>
      <td>at</td>
      <td>a</td>
      <td>d</td>
      <td>u</td>
      <td>j</td>
      <td>o</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>88.53</td>
      <td>k</td>
      <td>t</td>
      <td>av</td>
      <td>e</td>
      <td>d</td>
      <td>y</td>
      <td>l</td>
      <td>o</td>
      <td>...</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>76.26</td>
      <td>az</td>
      <td>w</td>
      <td>n</td>
      <td>c</td>
      <td>d</td>
      <td>x</td>
      <td>j</td>
      <td>x</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>80.62</td>
      <td>az</td>
      <td>t</td>
      <td>n</td>
      <td>f</td>
      <td>d</td>
      <td>x</td>
      <td>l</td>
      <td>e</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>13</td>
      <td>78.02</td>
      <td>az</td>
      <td>v</td>
      <td>n</td>
      <td>f</td>
      <td>d</td>
      <td>h</td>
      <td>d</td>
      <td>n</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 378 columns</p>
</div>

In [31]:
type(train_df.dtypes)

pandas.core.series.Series

In [32]:
dtype_df = train_df.dtypes.reset_index()
type(dtype_df)
#dtype_df.unique()
dtype_df.columns = ['Feat', 'ColType']
g = dtype_df.groupby("ColType").count()
#type(g)
#g.columns
#g.index
#$dtype_df.head()
g

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Feat</th>
    </tr>
    <tr>
      <th>ColType</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>int64</th>
      <td>369</td>
    </tr>
    <tr>
      <th>float64</th>
      <td>1</td>
    </tr>
    <tr>
      <th>object</th>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
count_dict = {}
for col in train_df.columns:
    arr_count = len(train_df[col].unique())
    count_dict.setdefault(arr_count, [])
    count_dict[arr_count].append(col)

for key,val in count_dict.items():
    print key, val

1 ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
2 ['X10', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178', 'X179', 'X180', 'X181', 'X182', 'X183', 'X184', 'X185', 'X186', 'X187', 'X189', 'X190', 'X191', 'X192', 'X194', 'X195', 'X196', 'X197', 'X198', 'X199', 'X200', 'X201', 'X202', 'X203', 'X204', 'X205', 'X206', 'X207', 'X208', 'X209', 'X210', 'X211', 'X212', 'X213', 'X214', 'X215', 'X216', 'X217', 'X218', 'X219', 'X220', 'X221', 'X222', 'X223', 'X224', 'X225', 'X226', 'X227', 'X228', 'X229', 'X230', 'X231', 'X232', 'X234', 'X236', 'X237', 'X238', 'X239', 'X240', 'X241', 'X242', 'X243', 'X244', 'X245', 'X246', 'X247', 'X248', 'X249', 'X250', 'X251', 'X252', 'X253', 'X254', 'X255', 'X256', 'X257', 'X258', 'X259', 'X260', 'X261', 'X262', 'X263', 'X264', 'X265', 'X266', 'X267', 'X269', 'X270', 'X271', 'X272', 'X273', 'X274', 'X275', 'X276', 'X277', 'X278', 'X279', 'X280', 'X281', 'X282', 'X283', 'X284', 'X285', 'X286', 'X287', 'X288', 'X291', 'X292', 'X294', 'X295', 'X296', 'X298', 'X299', 'X300', 'X301', 'X302', 'X304', 'X305', 'X306', 'X307', 'X308', 'X309', 'X310', 'X311', 'X312', 'X313', 'X314', 'X315', 'X316', 'X317', 'X318', 'X319', 'X320', 'X321', 'X322', 'X323', 'X324', 'X325', 'X326', 'X327', 'X328', 'X329', 'X331', 'X332', 'X333', 'X334', 'X335', 'X336', 'X337', 'X338', 'X339', 'X340', 'X341', 'X342', 'X343', 'X344', 'X345', 'X346', 'X348', 'X349', 'X350', 'X351', 'X352', 'X353', 'X354', 'X355', 'X356', 'X357', 'X358', 'X359', 'X360', 'X361', 'X362', 'X363', 'X364', 'X365', 'X366', 'X367', 'X368', 'X369', 'X370', 'X371', 'X372', 'X373', 'X374', 'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384', 'X385']
4 ['X4']
7 ['X3']
12 ['X6']
44 ['X2']
47 ['X0']
4209 ['ID']
2545 ['y']
25 ['X8']
27 ['X1']
29 ['X5']

In [34]:
for col in count_dict[1]:
    train_df.drop(col, axis=1, inplace=True)
    test_df.drop(col, axis=1, inplace=True)

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 366 entries, ID to X385
dtypes: float64(1), int64(357), object(8)
memory usage: 11.8+ MB

In [35]:
import matplotlib.pyplot as plt
import seaborn as sns

def plot_stripplot_y(var_name):
    col_order = np.sort(train_df[var_name].unique()).tolist()
    plt.figure(figsize=(12,6))
    sns.stripplot(x=var_name, y='y', data=train_df, order=col_order)
    plt.xlabel(var_name)
    plt.ylabel('y')
    plt.title("Distribution of y variable with" + var_name)
    plt.show()
    
#for var in ['X1','X2']:
 #   plot_stripplot_y(var)

In [36]:
def plot_boxplot_y(var_name):
    col_order = np.sort(train_df[var_name].unique()).tolist()
    plt.figure(figsize=(12,6))
    sns.boxplot(x=var_name, y='y', data=train_df, order=col_order)
    plt.xlabel(var_name)
    plt.ylabel('y')
    plt.title("Distribution of y variable with" + var_name)
    plt.show()
    
#for var in ['X12','X13']:
 #   plot_boxplot_y(var)

In [37]:
X = pd.DataFrame([['a', 0, 3], ['c', 1, 0], ['c', 2, 1], ['b', 0, 2]], columns=list('ABC'))
X

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>c</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>b</td>
      <td>0</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
pd.get_dummies(X)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>B</th>
      <th>C</th>
      <th>A_a</th>
      <th>A_b</th>
      <th>A_c</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
#train_df_dummy = pd.get_dummies(train_df)
#test_df_dummy = pd.get_dummies(test_df)
#train_df_dummy.head()

In [40]:
test_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>X0</th>
      <th>X1</th>
      <th>X2</th>
      <th>X3</th>
      <th>X4</th>
      <th>X5</th>
      <th>X6</th>
      <th>X8</th>
      <th>X10</th>
      <th>...</th>
      <th>X375</th>
      <th>X376</th>
      <th>X377</th>
      <th>X378</th>
      <th>X379</th>
      <th>X380</th>
      <th>X382</th>
      <th>X383</th>
      <th>X384</th>
      <th>X385</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>az</td>
      <td>v</td>
      <td>n</td>
      <td>f</td>
      <td>d</td>
      <td>t</td>
      <td>a</td>
      <td>w</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>t</td>
      <td>b</td>
      <td>ai</td>
      <td>a</td>
      <td>d</td>
      <td>b</td>
      <td>g</td>
      <td>y</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>az</td>
      <td>v</td>
      <td>as</td>
      <td>f</td>
      <td>d</td>
      <td>a</td>
      <td>j</td>
      <td>j</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>az</td>
      <td>l</td>
      <td>n</td>
      <td>f</td>
      <td>d</td>
      <td>z</td>
      <td>l</td>
      <td>n</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>w</td>
      <td>s</td>
      <td>as</td>
      <td>c</td>
      <td>d</td>
      <td>y</td>
      <td>i</td>
      <td>m</td>
      <td>0</td>
      <td>...</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 365 columns</p>
</div>

In [41]:
from sklearn.preprocessing import LabelEncoder
#categorical_features = ["X0", "X1", "X2", "X3", "X4", "X5", "X6", "X8"]
#for f in categorical_features:
 #       lbl = LabelEncoder()
 #       lbl.fit(list(train_df[f].values)) 
 #       train_df[f] = lbl.transform(list(train_df[f].values))
#train_df.head()

for col in train_df.columns:
    if train_df[col].dtype == 'object':
        lbl = LabelEncoder() 
        lbl.fit(list(train_df[col].values) + list(test_df[col].values)) 
        train_df[col] = lbl.transform(list(train_df[col].values))
        test_df[col] = lbl.transform(list(test_df[col].values))

In [42]:
from sklearn.model_selection import train_test_split


X = train_df.drop(['y'], axis=1)
y = train_df['y']

#test_df = test_df.drop(['ID'], axis=1)

X_train, X_eval, y_train, y_eval = train_test_split(X, y, test_size=0.33, random_state=42)
X_train.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>X0</th>
      <th>X1</th>
      <th>X2</th>
      <th>X3</th>
      <th>X4</th>
      <th>X5</th>
      <th>X6</th>
      <th>X8</th>
      <th>X10</th>
      <th>...</th>
      <th>X375</th>
      <th>X376</th>
      <th>X377</th>
      <th>X378</th>
      <th>X379</th>
      <th>X380</th>
      <th>X382</th>
      <th>X383</th>
      <th>X384</th>
      <th>X385</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2218</th>
      <td>4433</td>
      <td>10</td>
      <td>23</td>
      <td>42</td>
      <td>2</td>
      <td>3</td>
      <td>17</td>
      <td>3</td>
      <td>8</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1688</th>
      <td>3383</td>
      <td>21</td>
      <td>13</td>
      <td>19</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>11</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2242</th>
      <td>4487</td>
      <td>44</td>
      <td>4</td>
      <td>19</td>
      <td>2</td>
      <td>3</td>
      <td>17</td>
      <td>9</td>
      <td>20</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>582</th>
      <td>1133</td>
      <td>51</td>
      <td>10</td>
      <td>19</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>9</td>
      <td>5</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2132</th>
      <td>4262</td>
      <td>48</td>
      <td>22</td>
      <td>19</td>
      <td>2</td>
      <td>3</td>
      <td>18</td>
      <td>9</td>
      <td>24</td>
      <td>0</td>
      <td>...</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 365 columns</p>
</div>

In [43]:
from sklearn.tree import DecisionTreeRegressor
# Fit regression model
dtr = DecisionTreeRegressor(max_depth=4)
dtr.fit(X_train, y_train)
dtr

# Predict
#X_test = np.arange(0.0, 5.0, 0.01)[:, np.newaxis]
#y_1 = regr_1.predict(X_test)

DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [44]:
from sklearn.metrics import r2_score,mean_squared_error
def get_eval(dtr, X_eval, y_eval):
    y_pred =  dtr.predict(X_eval)
    print("R2:",r2_score(y_eval, y_pred))
    #print("MSE:",mean_squared_error(y_eval, y_pred))

In [45]:
test_df_dummy.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>X10</th>
      <th>X12</th>
      <th>X13</th>
      <th>X14</th>
      <th>X15</th>
      <th>X16</th>
      <th>X17</th>
      <th>X18</th>
      <th>X19</th>
      <th>...</th>
      <th>X8_p</th>
      <th>X8_q</th>
      <th>X8_r</th>
      <th>X8_s</th>
      <th>X8_t</th>
      <th>X8_u</th>
      <th>X8_v</th>
      <th>X8_w</th>
      <th>X8_x</th>
      <th>X8_y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 558 columns</p>
</div>

In [46]:
get_eval(dtr, X_train, y_train)
get_eval(dtr, X_eval, y_eval)

('R2:', 0.62059281607703709)
('R2:', 0.46317733200317091)

In [47]:
sum(dtr.feature_importances_)

1.0000000000000002

In [48]:
feat_names = X_train.columns.values

## plot the importances ##
importances = dtr.feature_importances_
#std = np.std([tree.feature_importances_ for tree in model.estimators_], axis=0)
indices = np.argsort(importances)[::-1][:20]

plt.figure(figsize=(12,12))
plt.title("Feature importances")
plt.bar(range(len(indices)), importances[indices], color="r", align="center")
plt.xticks(range(len(indices)), feat_names[indices], rotation='vertical')
plt.xlim([-1, len(indices)])
#plt.show()

(-1, 20)

In [51]:
# res
y_pred =  dtr.predict(test_df)
output = pd.DataFrame({'id': test_df['ID'].astype(np.int32), 'y': y_pred})
output.to_csv('dtr_max_depth_4.csv', index=False)