In [ ]:
import nltk
import numpy as np
import pandas as pd
import re
from sklearn.base import BaseEstimator
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

https://www.kaggle.com/benhamner/python-benchmark

In [3]:
class FeatureMapper:
    def __init__(self, features):
        self.features = features

    def fit(self, X, y=None):
        for feature_name, column_name, extractor in self.features:
            extractor.fit(X[column_name], y)

    def transform(self, X):
        extracted = []
        for feature_name, column_name, extractor in self.features:
            fea = extractor.transform(X[column_name])
            if hasattr(fea, "toarray"):
                extracted.append(fea.toarray())
            else:
                extracted.append(fea)
        if len(extracted) > 1:
            return np.concatenate(extracted, axis=1)
        else: 
            return extracted[0]

    def fit_transform(self, X, y=None):
        extracted = []
        for feature_name, column_name, extractor in self.features:
            fea = extractor.fit_transform(X[column_name], y)
            if hasattr(fea, "toarray"):
                extracted.append(fea.toarray())
            else:
                extracted.append(fea)
        if len(extracted) > 1:
            return np.concatenate(extracted, axis=1)
        else: 
            return extracted[0]

In [5]:
def identity(x):
    return x

class SimpleTransform(BaseEstimator):
    def __init__(self, transformer=identity):
        self.transformer = transformer

    def fit(self, X, y=None):
        return self

    def fit_transform(self, X, y=None):
        return self.transform(X)

    def transform(self, X, y=None):
        return np.array([self.transformer(x) for x in X], ndmin=2).T

In [40]:
def extract_features(data):
    token_pattern = re.compile(r"(?u)\b\w\w+\b")
    data["query_tokens_in_title"] = 0.0
    data["query_tokens_in_description"] = 0.0
    for i, row in data.iterrows():
        query = set(x.lower() for x in token_pattern.findall(row["query"]))
        print("query:", row["query"], query)
        title = set(x.lower() for x in token_pattern.findall(row["product_title"]))
        description = set(x.lower() for x in token_pattern.findall(row["product_description"]))
        if len(title) > 0:
            data.set_value(i, "query_tokens_in_title", len(query.intersection(title))/len(title))
        if len(description) > 0:
            data.set_value(i, "query_tokens_in_description", len(query.intersection(description))/len(description))
            
        data.loc[i,:]

In [66]:
pd.__version__

u'0.20.1'

In [68]:
# train = pd.read_csv("./input/train.csv", error_bad_lines=True).fillna("")
test = pd.read_csv("./input/test.csv",nrows=100000).fillna("")
# train.head()

ParserError: Error tokenizing data. C error: EOF inside string starting at line 2642

In [48]:
extract_features(train)
extract_features(test)
train.head()

('query:', 'bridal shower decorations', set(['shower', 'bridal', 'decorations']))
('query:', 'led christmas lights', set(['lights', 'led', 'christmas']))
('query:', 'projector', set(['projector']))
('query:', 'wine rack', set(['rack', 'wine']))
('query:', 'light bulb', set(['light', 'bulb']))
('query:', 'oakley polarized radar', set(['radar', 'polarized', 'oakley']))
('query:', 'boyfriend jeans', set(['jeans', 'boyfriend']))
('query:', 'screen protector samsung', set(['screen', 'protector', 'samsung']))
('query:', 'pots and pans set', set(['and', 'pans', 'set', 'pots']))
('query:', 'waffle maker', set(['maker', 'waffle']))
('query:', 'electric griddle', set(['griddle', 'electric']))
('query:', 'phillips coffee maker', set(['phillips', 'coffee', 'maker']))
('query:', 'san francisco 49ers', set(['49ers', 'francisco', 'san']))
('query:', 'aveeno shampoo', set(['shampoo', 'aveeno']))
('query:', 'flea and tick control for dogs', set(['and', 'control', 'for', 'flea', 'tick', 'dogs']))
('query:', 'table clock', set(['table', 'clock']))
('query:', 'infinity scarf', set(['infinity', 'scarf']))
('query:', 'workout clothes for women', set(['workout', 'women', 'for', 'clothes']))
('query:', 'lego star wars', set(['star', 'wars', 'lego']))
('query:', 'kitchenaid mixer', set(['kitchenaid', 'mixer']))

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>query</th>
      <th>product_title</th>
      <th>product_description</th>
      <th>median_relevance</th>
      <th>relevance_variance</th>
      <th>query_tokens_in_title</th>
      <th>query_tokens_in_description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>bridal shower decorations</td>
      <td>Accent Pillow with Heart Design - Red/Black</td>
      <td>Red satin accent pillow embroidered with a hea...</td>
      <td>1</td>
      <td>0.000</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>led christmas lights</td>
      <td>Set of 10 Battery Operated Multi LED Train Chr...</td>
      <td>Set of 10 Battery Operated Train Christmas Lig...</td>
      <td>4</td>
      <td>0.000</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>projector</td>
      <td>ViewSonic Pro8200 DLP Multimedia Projector</td>
      <td></td>
      <td>4</td>
      <td>0.471</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>wine rack</td>
      <td>Concept Housewares WR-44526 Solid-Wood Ceiling...</td>
      <td>Like a silent and sturdy tree, the Southern En...</td>
      <td>4</td>
      <td>0.000</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>light bulb</td>
      <td>Wintergreen Lighting Christmas LED Light Bulb ...</td>
      <td>WTGR1011\nFeatures\nNickel base, 60,000 averag...</td>
      <td>2</td>
      <td>0.471</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [49]:
#                          Feature Set Name            Data Frame Column              Transformer
features = FeatureMapper([('QueryBagOfWords',          'query',                       CountVectorizer(max_features=200)),
                          ('TitleBagOfWords',          'product_title',               CountVectorizer(max_features=200)),
                          ('DescriptionBagOfWords',    'product_description',         CountVectorizer(max_features=200)),
                          ('QueryTokensInTitle',       'query_tokens_in_title',       SimpleTransform()),
                          ('QueryTokensInDescription', 'query_tokens_in_description', SimpleTransform())])

pipeline = Pipeline([("extract_features", features),
                     ("classify", RandomForestClassifier(n_estimators=200,
                                                         n_jobs=1,
                                                         min_samples_split=2,
                                                         random_state=1))])

In [50]:
pipeline.fit(train, train["median_relevance"])

predictions = pipeline.predict(test)

In [51]:
predictions

array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4], dtype=int64)

In [52]:
submission = pd.DataFrame({"id": test["id"], "prediction": predictions})
submission.to_csv("python_benchmark.csv", index=False)